html{
  width:100%;
  height:100%;
  font-family: Grotesk;
  font-weight:500;
  body{
    width:100%;
    height:100%;
     background: url('../imgs/BG.png');
     background-size:cover;
    #root{
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
         align-items: center;
        .app-container{
          width: 1006px;
          height: 600px;
          background-color: #0a004b;
        }
    }
  }
}