.final {
  width: 483px;
  height: 427px;
  margin: 60px auto;
  padding: 30px;
  color: #fff;
  text-align: center;
  h1 {
    letter-spacing: 0.5px;
    margin-bottom: 15px;
    font-family: Grotesk;
    font-size: 50px;
  }
  h5 {
    font-size: 20px;
  }
  img {
    margin: 20px auto;
    width: 400px;
  }
}